.category-page{
    padding:40px;
    background:#fafafa;
}


.category-page h1{
    text-align:center;
    margin-bottom:30px;
}


.category-products{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;

}


.category-card{

    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.category-card img{

    width:100%;
    height:300px;
    object-fit:cover;

}


.product-info{

    padding:15px;

}


.product-info h3{

    font-size:18px;

}


.product-info p{

    color:#555;

}


.price{

    font-weight:bold;
    margin:10px 0;

}


.price span{

    color:#ff3f6c;
    margin-left:10px;

}


.rating{

    margin-bottom:15px;

}


.product-info button{

    width:100%;
    padding:12px;
    background:#ff3f6c;
    color:white;
    border:none;
    border-radius:5px;

}