.deals{

    width:90%;
    margin:70px auto;
}

.deals h2{

    text-align:center;
    font-size:35px;
    color:#282c3f;
    margin-bottom:40px;
}

.deal-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.deal-card{

    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.4s;
}

.deal-card:hover{

    transform:translateY(-10px);
}

.deal-card img{

    width:100%;
    height:320px;
    object-fit:cover;
}

.deal-info{

    padding:18px;
}

.deal-info h3{

    color:#282c3f;
}

.deal-info p{

    color:#777;
    margin:10px 0;
}

.price{

    display:flex;
    gap:12px;
    align-items:center;
}

.new-price{

    color:#ff3f6c;
    font-size:20px;
    font-weight:bold;
}

.old-price{

    text-decoration:line-through;
    color:gray;
}

.deal-info h4{

    color:green;
    margin:12px 0;
}

.deal-info button{

    width:100%;
    padding:12px;
    border:none;
    background:#ff3f6c;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.deal-info button:hover{

    background:#e91e63;
}