.shop-page{
    padding:50px;
    background:#f8f8f8;
    min-height:100vh;
    text-align:center;
}

.shop-page h1{
    color:#ff3f6c;
    margin-bottom:15px;
}

.shop-page p{
    color:#555;
    margin-bottom:40px;
    font-size:18px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-bottom:50px;
}

.category-box{
    background:white;
    padding:30px;
    border-radius:10px;
    text-decoration:none;
    color:#282c3f;
    font-size:22px;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.category-box:hover{
    background:#ff3f6c;
    color:white;
    transform:translateY(-5px);
}

.offers{
    background:white;
    padding:30px;
    border-radius:10px;
    width:70%;
    margin:auto;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.offers h2{
    color:#ff3f6c;
    margin-bottom:20px;
}

.offers ul{
    list-style:none;
    padding:0;
}

.offers li{
    margin:10px 0;
    font-size:17px;
}